.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.contact-content {
  padding: 10px;
}
.contact-content-contact {
  width: 100%;
  padding: 10px;
}
.contact-content-contact--h2 {
  font-size: 2rem;
  font-weight: bold;
}
.contact-content-contact--p {
}
.contact-content-contact-icon {
}
.contact-content-contact-icon {
  display: flex;
  align-items: center;
}
.contact-content-contact-icon--a {
  font-size: 2rem;
  color: #fff;
  transition: 1s all;
}
.contact-content-contact-icon--a:hover {
  color: var(--color-secondary);
}
