.collection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
}
.collection-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.collection-box--img {
  width: 240px;
  height: 240px;
}
.collection-box--h2 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0px 0px 20px 0px;
}
