.slider {
  height: 500px;
  width: 300px;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
.slider--img {
  width: calc(100% / 2);
  left: 0;
  position: sticky;
  object-fit: cover;
  scroll-snap-align: center;
  border-radius: 20px;
}

.slider::-webkit-scrollbar {
  display: none;
}
